// light theme
:root {
  --n-text-color: #{$color-black};
  --n-background-body-color: #f6f6f6;
  --n-background-content-color: #{$color-white};
  --n-box-shadow-color: #2553b91a;
  --n-scrollbar-color: #b0b0b0;
  --background: #f6f6f6;
  --primary_50: #fff0f2;
  --primary_100: #ffe3e5;
  --primary_700: #c00935;
  --neutrals_100: #f6f6f6;
  --neutrals_200: #dcdcdc;
  --neutrals_300: #bdbdbd;
  --neutrals_400: #989898;
  --neutrals_500: #7c7c7c;
  --neutrals_600: #656565;
  --neutrals_700: #525252;
  --neutrals_950: #292929;
  --secondary_100: #ceeffe;
  --secondary_500: #0094fa;
  --secondary_950: #002566;
  --success_100: #d6ffe0;
  --success_600: #00a946;
  --info_100: #e9f8ff;
  --info_600: #0087e6;
  --warning_100: #fff4e6;
  --warning_600: #ff9800;
}

// dark theme
html.dark {
  --n-text-color: #{$color-white};
  --n-background-body-color: #16293e;
  --n-background-content-color: #111c2d;
  --n-box-shadow-color: #2553b91a;
  --n-scrollbar-color: #555;
}
